<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
<h1 style="padding-top:100px">You can upload your file here</h1>
    <form method="POST" action="/index1" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
        <div class="mb-3" style="margin-top:50px;padding-left:20px">
          <label for="title" class="form-label">title</label>
          <input type="text" class="form-control" id="title" name="title" >
        </div>
        <div class="mb-3" style="padding-left:100px">
            <label for="upload" class="form-label">upload</label>
            <input class="form-control" type="file" id="upload" name="upload">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
   </form>
</body>
</html>